@import "@/styles/shared";

.Home {
  text-align: center;

  ul {
    text-align: left;
  }

  .BookCover {
    // width: clamp(8rem, 80%, 30rem);
    @apply my-8;
    @media (min-width: $breakpoint-tablet) {
    }
  }

  .Links {
    @media (max-width: $breakpoint-mobile) {
      @apply grid grid-cols-2 gap-4;
    }

    @media (min-width: $breakpoint-tablet) {
      @apply mt-4 flex-col space-y-2;
    }

    img {
      height: 3rem;
      margin-top: -0.5rem;
      margin-bottom: -0.5rem;
    }
  }

  .Children {
    margin-top: -1rem;
    margin-bottom: -1rem;

    @media (min-width: $breakpoint-tablet) {
      margin-top: -7rem;
    }
  }
}
