@import "@/styles/shared";

.Links {
  img {
    height: 3rem;
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
  }
}

.Children {
  margin-top: -1rem;
  margin-bottom: -1rem;

  @media (min-width: $breakpoint-tablet) {
    margin-top: -7rem;
  }
}
