@import "@/styles/shared";

$margin: 0.5em;
$width: 12em;

.CurrencyPicker {
  --animate-duration: 0.3s;
  position: relative;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
  }
}

.List {
  button {
    clear: both;
    text-decoration: none;
    @extend %no-tap-highlight;
    &:hover {
      background: $light-green;
      text-decoration: underline;
    }
  }
}

.Flag {
  width: 2em;
}

.Closed {
  display: none;
}

.Open {
  background: #eee;
  .PickerLink {
    color: purple;
  }
}

.Options {
  position: absolute;
  z-index: 1;
  top: 2.6em;
  background: white;
  right: 0;
  margin: 0 auto;
  box-shadow: 0 0.8em 1em rgba(100, 100, 100, 0.5);
  text-align: left;
}
