@import "../../shared";

$margin: 0.5em;
$width: 12em;

.CurrencyPicker {
  --animate-duration: 0.3s;
  font-size: 0.8em;
  position: relative;

  .PickerLink {
    @extend %no-tap-highlight;
    @extend %link-button;
    text-align: center;
    color: $text;
    width: $width;
    text-decoration: underline;
    padding: 0.8em;
    display: inline-block;

    &:focus {
    }

    @media (min-width: $breakpoint-tablet) {
      // margin-left: $margin;
    }
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
  }

  // Mobile
  margin-top: 1em;
}

.List {
  button {
    padding: 1.0em 0.8em 0.6em;
    clear: both;
    display: block;
    text-decoration: none;
    @extend %no-tap-highlight;
    @extend %link-button;
    width: $width;
    &:hover {
      background: $light-green;
    }
  }
}

.Flag {
  width: 2em;
  position: relative;
  float: left;
  top: -0.1em;
  margin-right: 0.4em;
}

.Closed {
  display: none;
}

.Open {
  .PickerLink {
    // background: #ccc;
  }
}

.Options {
  position: absolute;
  top: 2.4em;
  background: white;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 0 auto;
  box-shadow: 0 0.8em 1em rgba(100, 100, 100, 0.5);
  text-align: left;

  font-size: 1.4em;
  @media (min-width: $breakpoint-tablet) {
    font-size: 1.2em;
  }
}
