@import "../../shared";

.Button {
  @extend %button;
  font-size: 1em;
  line-height: 1.6em;
  color: $primary;
  font-weight: bold;
  border: solid 1px $primary;
  padding: 1em 2em;
  margin: 0 1em;
  cursor: pointer;
  font-family: $header-font;

  &:hover {
    text-decoration: underline;
    background2: $primary;
    background: #e3d3e2;
    color2: white;
  }

  @media (min-width: $breakpoint-tablet) {
    margin: 0;
    padding: 0.6em 2em;
  }

  @media (min-width: $breakpoint-desktop) {
  }
}

.Button.Disabled,
.Button.Disabled:hover {
  color: #999;
  background: transparent;
  box-shadow: none;
  text-decoration: none;
  cursor: default;
  border-color: #999;
}
