@import "../../shared";

.SongList {
  text-align: left;
  margin: 1.2em 0;
  background: url(../../assets/geometry.png);
  font-size: 110%;
  position: relative;

  h2 {
    background: $purple;
    color: $text;
    margin: 0;
    padding: 1em;
    font-size: 1.2em;
  }

  ul {
    margin: 0 !important;
    padding: 0;

    li {
      list-style-type: none;
    }
  }

  label {
    cursor: pointer;
  }

  // Mobile only
  margin-top: 3em;
  border: dotted 4px $purple;
  @media (min-width: $breakpoint-tablet) {
    margin: 2em auto;
    max-width: 60%;
    max-width: 32rem;
    ul {
      padding: 0.4em;
    }
  }

  @media (min-width: $breakpoint-desktop) {
    max-width: 100%;
  }
}

.Preview {
  margin-top: 2em;
  @media (min-width: $breakpoint-tablet) {
    margin-top: 3em;
  }

  &:before {
    position: absolute;
    z-index: 1;
    content: "Preview";
    background: $purple;
    color: white;
    right: -1em;
    top: -1.6em;
    padding: 0.6em 2em;
    transform: rotate(4deg);
    box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.2);

    @media (min-width: $breakpoint-tablet) {
      top: -1.6em;
      background: white;
      color: $purple;
      font-size: 1.2em;
      // border: dotted 4px $purple;
      border: solid 1px $purple;
    }
  }
}
