@import "../../shared";

.SongList {
  text-align: left;
  margin: 1.2em 0;
  background: url(../../assets/geometry.png);
  font-size: 110%;

  ul {
    margin: 0 !important;
    padding: 0;

    li {
      list-style-type: none;
    }
  }

  label {
    cursor: pointer;
  }

  @media (min-width: $breakpoint-tablet) {
    border: dotted 4px purple;
    margin: 2em auto;
    max-width: 60%;
    max-width: 32rem;
    padding: 0.4em;
  }

  @media (min-width: $breakpoint-desktop) {
    max-width: 100%;
  }
}
