@import "../../shared";

.Thankyou {
  text-align: center;

  .Success {
    width: 16rem;
    margin-bottom: 2em;
  }

  @media (min-width: $breakpoint-tablet) {
    font-size: 1em;
  }

  @media (min-width: $breakpoint-desktop) {
    font-size: 1em;
  }
}

.Items {
  margin: 2em 0;
  p {
    font-size: 1em;
  }
}
