@import "../../shared";

.YouTube {
  iframe {
    aspect-ratio: 16 / 9;
    width: 100%;

    @media (min-width: $breakpoint-tablet) {
      border-radius: 1em;
    }
  }
}

.YouTube + .YouTube {
  margin-top: 2em;
}
