@import "../../shared";

.YouTube {
  margin-bottom: 2rem;
  h4 {
    font-size: 1.2rem;
    text-align: center;
    line-height: 1.4rem;
    margin-top: 0.6rem;
  }

  iframe {
    aspect-ratio: 16 / 9;
    width: 100%;

    @media (min-width: $breakpoint-tablet) {
      border-radius: 1em;
    }
  }
}
