@import "./shared";

// @media (min-width: $breakpoint-tablet) {
//   body {
//     border-right: solid 2px red;
//   }
// }
// @media (min-width: $breakpoint-desktop) {
//   body {
//     border-right: solid 2px purple;
//   }
// }

.App {
  font-family: $boldfont;
  overflow: hidden; // For the "preview" banner
  position: relative;
}

.Blurred {
  filter: blur(3px);
}

.Page {
  // position: relative;
  transform: filter ease-out 4.4s;
}

.Offset {
      // transform: translate(+20%, 0);
      // position: relative;
      // left: 10em;
}


$header-top: 0; //12rem;

.Content {
  z-index: 1;
  color: $text;

  &:after {
    content: "";
    clear: both;
  }

  .Inner {
    font-size: 110%;
    position: relative;
    margin: 0 auto;
    text-align: center;

    @media (min-width: $breakpoint-tablet) {
      text-align: left;
      padding: 0 0 0 0;
      max-width: 54em;
    }
  }
}

.Blob {
  position: absolute;

  top: -10%;
  z-index: -1;
  left: 59%;
  width: 30rem;

  @-moz-keyframes spin {
    100% {
      -moz-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  -webkit-animation: spin 60s linear infinite;
  -moz-animation: spin 60s linear infinite;
  animation: spin 60s linear infinite;
}

/* Rhythm */

h1,
h2,
h3 {
  font-family: $header-font;
  margin: 0;
}

h1 {
  text-align: center;
  margin: 1em;
}

h2 {
  font-size: 1.6rem;
  line-height: 1.6;
  margin: 0;
  @media (min-width: $breakpoint-tablet) {
    font-size: 2.2rem;
  }
}

h4 {
  font-size: 1.3rem;
  line-height: 1.6;
  @media (min-width: $breakpoint-tablet) {
    font-size: 1.6rem;
  }
  @media (min-width: $breakpoint-desktop) {
    font-size: 1.4rem;
  }
}

p {
  margin: 0;
  font-size: 1em;
  font-family: inherit;
  @media (min-width: $breakpoint-tablet) {
    font-size: 1.3em;
  }
}

h2 + p {
}

p + p {
  margin-top: 1em;
}

html {
  line-height: 1.4;
  background2: #666;
  font-size: 16px;
}

a {
  color: $purple;
  text-decoration: underline;

  &:hover {
    color: $orange;
  }
}

/* */

.App {
  // background: white;
  // width: 100%;
  // color: #333;
}
