// sm	640px	@media (min-width: 640px)
// md	768px	@media (min-width: 768px)
// lg	1024px	@media (min-width: 1024px)
// xl	1280px	@media (min-width: 1280px)
// 2xl	1536px	@media (min-width: 1536px)
$breakpoint-mobile: 640px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-wide: 1536px;

$radius: 0.4em;

// Colours
$text: #07585a;
$primary: purple;
$highlight: pink;
$grass: #afda4d;

// Palette
$purple: purple;
$orange: #fa8234;
$green: #0a898d;
$aqua: #0a898d;
$light-green: #ddeeba;

%no-tap-highlight {
  -webkit-tap-highlight-color: transparent;
}

%text-content {
  padding: 0 1em;
  font-size: 80%;
}

%link-button {
  background: transparent;
  font-family: inherit;
  font-size: inherit;
  text-align: left;
  outline: none;
  cursor: pointer;
  border: none;
}

// Fonts

// $font: "Luckiest Guy";
$font: "Noto Serif", "Balsamiq Sans", serif;
$font: inherit, serif;

// $boldfont: "Noto Serif", "Balsamiq Sans", cursive;
$boldfont: inherit;
$header-font: "Preahvihear", "Noto Serif", "Balsamiq Sans", serif;

// A raised button
%button {
  transition: box-shadow 0.2s ease-out; //, background 0.8s ease-out;
  box-shadow: #999 0.1em 0.3em 0.4em;

  &:hover {
    box-shadow: #999 0.1em 0.1em 0.1em;
  }
}
