@import "@/styles/shared";

.Title {
  font-family: var(--title-font);
  @apply leading-tight;

  em {
    font-style: normal;
    text-decoration: underline;
    text-decoration-color: $orange;
  }

  small {
    font-style: italic;
    font-size: 1.4rem;
    display: block;
  }
}

.Level1 {
  font-weight: 400;
  font-size: 1.8rem;

  &.WithLayout {
    margin: 1rem 0 0.4rem;
  }
}

.Level2 {
  font-weight: 400;
  font-size: 1.4rem;

  &.WithLayout {
    margin: 1rem 0 0.4rem;
  }
}

.Level3 {
  font-weight: 200;
  font-size: 1.1rem;

  &.WithLayout {
    margin: 1rem 0 0.4rem;
  }
}

