@import "../../shared";

.About {
  text-align: center;
  padding-bottom: 3em;

  h2 {
    font-size: 1.6em;
    font-family: $font;
    font-weight: normal;
  }

  .Me {
    margin-top: 2em;
    max-width: 70%;
    box-shadow: 0 0.6em 2em #cbdea0;
    border: solid 2px #fff;
    @media (min-width: $breakpoint-tablet) {
      box-shadow: 0.6em 0.6em 1em #cbdea0;
      max-width: 40%;
      margin-top: 0;
      float: right;
      position: absolute;
      top: 0;
      right: -1em;
    }
  }

  .Inner {
    @extend %text-content;
    @media (min-width: $breakpoint-tablet) {
      font-size: 1em;

      // To offset the image
      margin-right: 40%;
      text-align: left;
    }
  }

  @media (min-width: $breakpoint-tablet) {
    font-size: 1em;
  }

  @media (min-width: $breakpoint-desktop) {
    font-size: 1em;
  }
}
