@import "../../shared";

.About {
  text-align: center;
  padding-bottom: 3em;

  h2 {
    font-size: 1.6em;
    font-family: $font;
    font-weight: normal;
  }

  .Me {
    text-align: center;
    img {
      margin-top: 2em;
      max-width: 70%;
      box-shadow: 0 0.6em 2em #cbdea0;
      border: solid 2px #fff;
      @media (min-width: $breakpoint-tablet) {
        box-shadow: 0.6em 0.6em 1em #cbdea0;
        margin-top: 0;
        margin-left: 2em;
        max-width: 100%;
      }
    }
  }

  .Inner {
    @extend %text-content;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    @media (min-width: $breakpoint-tablet) {
      flex-direction: row;
      font-size: 1em;
    }

    .Text {
      text-align: left;
    }
  }

  @media (min-width: $breakpoint-tablet) {
    font-size: 1em;
  }

  @media (min-width: $breakpoint-desktop) {
    font-size: 1em;
  }
}
