@import "../../shared";

.About {
  text-align: center;
  padding-bottom: 3em;

  h2 {
    font-size: 1.6em;
    font-family: $font;
    font-weight: normal;
  }

  .Inner {
    @extend %text-content;
    @media (min-width: $breakpoint-tablet) {
      font-size: 1em;
    }
  }

  @media (min-width: $breakpoint-tablet) {
    font-size: 1em;
  }

  @media (min-width: $breakpoint-desktop) {
    font-size: 1em;
  }
}
