@import "../../shared";

.Home {
  text-align: center;
  padding-bottom: 1em;

  h2 {
    font-size: 1.6em;
    font-family: $font;
    font-weight: normal;
  }

  strong {
    font-weight: bold;
  }

  ul {
    text-align: left;
  }

  .Inner {
    @extend %text-content;
    @media (min-width: $breakpoint-tablet) {
      font-size: 1em;
    }
  }

  .WithButton {
    margin: 1em 0 0;
  }

  .CurrencyPicker {
    margin-bottom: 1em;
    @media (min-width: $breakpoint-tablet) {
      margin-bottom: 2em;
    }
  }

  .Access {
    font-size: 0.9em;
    text-align: left;
    margin: 0 1em;
  }

  .Small {
    font-size: 0.9em;
  }

  @media (min-width: $breakpoint-tablet) {
    font-size: 1em;
  }

  @media (min-width: $breakpoint-desktop) {
    font-size: 1em;
  }
}
