@import "../../shared";

.Home {
  text-align: center;
  padding-bottom: 1em;

  h2 {
    font-size: 1.6em;
    font-family: $font;
    font-weight: normal;
  }

  strong {
    font-weight: bold;
  }

  ul {
    text-align: left;
  }

  .Videos {
    border: solid 4px rgba(255, 255, 255, 0.5);
    background: #e5f0cd;
    padding: 2em;
    border-radius: 2em;
    margin-bottom: 4em;
  }

  .DownloadImage {
    max-width: 13em;
    margin-top: 1em;
  }

  .Inner {
    @extend %text-content;
    @media (min-width: $breakpoint-tablet) {
      font-size: 1em;
    }
  }

  .Stores {
    margin: 1em;
    margin-bottom: 2em;
    button {
      @extend %link-button;
      text-align: center;
      display: inline;
      padding: 0;
      max-width: 70%;
      @media (min-width: $breakpoint-tablet) {
        max-width: 30%;
      }
      img {
        max-width: 100%;
      }
    }
  }

  .Button {
    padding-left: 4em;
  }

  .LoadingIcon {
    position: absolute;
    left: 1em;
    top: 0.4em;
    @media (min-width: $breakpoint-tablet) {
      top: 0.1em;
    }
  }

  .WithButton {
    margin: 0 0 0 0;
    img {
      max-width: 2em;
    }
  }

  .CurrencyPicker {
    margin-bottom: 1em;
  }

  .Access {
    @extend %text-content;
    font-size: 0.9em;
    text-align: left;
    margin: 0 auto;
    @media (min-width: $breakpoint-tablet) {
      max-width: 50%;
    }
  }

  .Small {
    font-size: 0.9em;
  }

  @media (min-width: $breakpoint-tablet) {
    font-size: 1em;
  }

  @media (min-width: $breakpoint-desktop) {
    font-size: 1em;
  }
}
