@import "../../shared";

.Header {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-image: linear-gradient(to bottom, #cceef0, #fff);
  display: block;
  float: left;

  height: 83vw;
  @media (min-width: $breakpoint-tablet) {
    height: 49vw;
  }
  @media (min-width: $breakpoint-desktop) {
    height: 30vw;
  }

  .Logo {
    margin-top: 3em;
    @media (min-width: $breakpoint-tablet) {
      margin-top: 0.5em;
    }
  }

  .Overlay {
    position: absolute;
    z-index: 10;
    width: 100%;
    margin: 0 auto;
  }
}

%floating {
  position: absolute;
}

.Sky {
  @extend %floating;
  border: solid 1px blue;
  top: 0;
  right: 0;
  bottom: 0;
  right: 0;
}

.Clouds {
  @extend %floating;
  bottom: 0;
  width: 120%;
  margin-left: -10rem;
  height: auto;
  // animation-duration: 2s; /* don't forget to set a duration! */
  // --animate-duration: 3s;
  // --animate-delay: 1s;
  // --animate-repeat: 1;
  @media (min-width: $breakpoint-tablet) {
    width: 60%;
    margin-left: 10rem;
  }
}

.Tree {
  @extend %floating;
  bottom: 0;
  right: 0;
  height: 70%;
  @media (min-width: $breakpoint-desktop) {
    display: none;
  }
}

.Grass {
  @extend %floating;
  height: 24px;
  width: 100%;
  bottom: -0.5em;
  background: $grass;
}

.Foreground {
  width: 47rem;
  position: absolute;
  bottom: 0;
  margin-left: -19rem;

  @media (min-width: $breakpoint-tablet) {
    width: 68em;
    margin-left: -10em;
  }

  @media (min-width: $breakpoint-desktop) {
    width: 68rem;
    margin-left: 8rem;
  }

  @media (min-width: $breakpoint-wide) {
    width: 62rem;
    margin-left: 14rem;
  }
}

.Hamburger {
  font-size: 1.8em;
  position: absolute;
  z-index: 100;
  top: 0.4em;
  left: 0.4em;
  padding: 0.5em;
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  background: transparent;
  color: $primary;
  text-decoration: none;

  @extend %no-tap-highlight;

  i {
    display: block;
    margin-left: -1px;
    margin-top: 0.1em;
    color: $text;
    color: #90b838;
    color: #08898d;
  }

  @media (min-width: $breakpoint-tablet) {
    background: #afdcde;
    color: $primary;
    font-size: 2.2em;
    right: -0.8em;

    i {
      color: white;
    }

    &:hover {
      background: $orange;
      i {
      }
    }
  }
}
