@import "@/styles/shared";

.Loading {
  text-align: center;
  position: relative;

  img {
    animation: rotation 1.4s infinite linear;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-359deg);
  }
}
