@import '../../shared';

.Dashboard {

  text-align: center;

  ul {
    margin: 1em 0;
    padding: 0;
  }

  .Thankyou {
    width: 16rem;
    margin-bottom: 2em;
  }

  .Inner {
    @extend %text-content;
  }

  .Emphasis {
    color: $aqua;
  }

  @media (min-width: $breakpoint-tablet) {
    .Inner {
      font-size: 100%;
    }
  }

  @media (min-width: $breakpoint-desktop) {
  }
}
