@import "../../shared";

.Footer {
  padding: 0 0 6em;
  position: relative;
  clear: both;
  width: 100%;
  text-align: center;

  h4 {
    font-size: 2.4em;
    color: $primary;
    font-family: $font;
    font-weight: normal;
    margin: 0.4em;
  }
}

.Social {
  font-size: 2.4em;
  i {
    padding: 0.6em;
  }
}
