@import "../../shared";

.Footer {
  padding: 0 2em 3em 2em;
  position: relative;
  clear: both;
  width: 100%;
  text-align: center;

  h4 {
    color: $primary;
    font-family: $font;
    margin: 1.2em;
    margin-bottom: 1.4em;
  }
}
