$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

// Colours
$text: #333;
$primary: purple;
$highlight: pink;

// Fonts

// $font: "Luckiest Guy";
 $font: 'Noto Serif', 'Balsamiq Sans', cursive;
$font: "Balsamiq Sans", cursive;

// $boldfont: "Noto Serif", "Balsamiq Sans", cursive;
$boldfont: "Balsamiq Sans", cursive;
$header-font: "Noto Serif", "Balsamiq Sans", cursive;
