@import "./shared";

// @media (min-width: $breakpoint-tablet) {
//   body {
//     border-right: solid 2px red;
//   }
// }
// @media (min-width: $breakpoint-desktop) {
//   body {
//     border-right: solid 2px purple;
//   }
// }

.App {
  font-family: $boldfont;
  overflow: hidden; // For the "preview" banner
  position: relative;
}

.Blurred {
  filter: blur(3px);
}

.Page {
  // position: relative;
  transform: filter ease-out 4.4s;
}

.Offset {
      // transform: translate(+20%, 0);
      // position: relative;
      // left: 10em;
}


$header-top: 0; //12rem;

.Content {
  // margin: $header-top 0 4rem;
  float: left;
  width: 100%;
  margin: 0;
  padding: 3em 0 2em;
  z-index: 1;
  color: $text;
  // background: url(assets/background.png);
  // background-size: cover;
  // background: url(assets/geometry.png);

  &:after {
    content: "";
    clear: both;
  }

  .Inner {
    font-size: 110%;
    position: relative;
    max-width: 40rem;
    margin: 0 auto;
    text-align: center;

    @media (min-width: $breakpoint-tablet) {
      text-align: left;
      padding: 0 0 0 0;
    }
  }

  // Content gradient
  background: linear-gradient(to bottom, $grass, #fafafa 30%);
  @media (min-width: $breakpoint-tablet) {
    background: linear-gradient(to bottom, $grass, #fafafa 50%);
  }
}

.Blob {
  position: absolute;

  top: -10%;
  z-index: -1;
  left: 59%;
  width: 30rem;

  @-moz-keyframes spin {
    100% {
      -moz-transform: rotate(360deg);
    }
  }
  @-webkit-keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes spin {
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  -webkit-animation: spin 60s linear infinite;
  -moz-animation: spin 60s linear infinite;
  animation: spin 60s linear infinite;
}

/* Rhythm */

h1,
h2,
h3 {
  font-family: $header-font;
  margin: 0;
}

h1 {
  text-align: center;
  margin: 1em;
}

h2 {
  font-size: 2.2em;
  margin: 0 0 1em;
}

p {
  margin: 0;
  font-size: 1.3em;
  font-family: inherit;
  padding: 0 0.5em;
  @media (min-width: $breakpoint-tablet) {
    padding: 0;
  }
}

h2 + p {
}

p + p {
  margin-top: 1em;
}

html {
  line-height: 1.4;
  background2: #666;
  font-size: 16px;
}

a {
  color: $text;
  &:hover {
    color: $purple;
  }
}

/* */

.App {
  // background: white;
  // width: 100%;
  // color: #333;
}
