@tailwind base;
@tailwind components;
@tailwind utilities;

@import-normalize;

body {
  margin: 0;
  font-family: 'Preahvihear', system-ui, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: #FFFD77;
  background: #FFE882;
  background: #fff;

  /* background: #fff url(assets/geometry.png); */
  max-width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

