@import "../../shared";

.Nav {
  list-style-type: none;
  --animate-duration: 0.3s;
  margin: 0;
  padding: 1.2em;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  bottom: 0;
  width: 60vw;
  background: white;
  font-size: 1.2em;

  @media (min-width: $breakpoint-tablet) {
    width: 12em;
  }

  @media (min-width: $breakpoint-desktop) {
  }

  li {
    display: block;

    a {
      padding: 1em;
      display: block;
      text-decoration: none;
      color: $text;
      @extend %no-tap-highlight;

      &.active {
        background: #e4ecec;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
  display: none;
}

.Open {
  display: block;
}
.Closing {
  display: block;
}
