@import "../../shared";

.Nav {
  list-style-type: none;
  --animate-duration: 0.3s;
  margin: 0;
  padding: 2em;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  bottom: 0;
  width: 60vw;
  background: white;
  font-size: 1.2em;

  @media (min-width: $breakpoint-tablet) {
    // font-size: 1em;
    width: 12em;
  }

  @media (min-width: $breakpoint-desktop) {
    // font-size: 1em;
  }

  li {
    display: block;

    a {
      padding: 1em;
      display: block;
      text-decoration: none;
      color: $text;

      &.active {
        // background: #9e209e;
        // border: solid 1px $purple;
        text-decoration: underline;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
  display: none;
}

.Open {
  display: block;
}
.Closing {
  display: block;
}
